/* Remove default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Header */
header {
    background: #321f1f;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation */
nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    color: rgb(9, 255, 0);
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 30px;
}

button {
    background: rgb(0, 255, 94);
    color: white;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: rgb(139, 0, 0);
}

/* Footer */
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 50px;
}
/body/
body {
    font-family: Arial, sans-serif;
    background-color: #e1d6ce;
    margin: 0;
    padding: 0;
}
/hero section/
.hero {
     color: #0066cc;
}
